[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "openpyxl>=3.1.5",
    "openpyxl-image-loader>=1.0.5",
    "pillow>=12.0.0",
    "pymupdf>=1.26.7",
]
